.GlobalHeader {
  width: 100%;
  background-color: white;
}

.CompanyLogo {
  width: 20%;
  height: auto;
  padding-left: 15px;
}

.hospitalPhoto {
  width: 50%;
}

.Spacer {
  background-color: #012d5a;
  width: 100%;
  padding: 10px;
}

/* =========== LOGIN PAGE ========== */
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm input {
  padding: 20px;
}
