@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @layer base {
        :root {
            --background: 0 0% 100%;
            --foreground: 222.2 84% 4.9%;
            --card: 0 0% 100%;
            --card-foreground: 222.2 84% 4.9%;
            --popover: 0 0% 100%;
            --popover-foreground: 222.2 84% 4.9%;
            --primary: 0 0% 100%;
            --primary-foreground: 210 40% 98%;
            --secondary: 210 40% 96.1%;
            --secondary-foreground: 222.2 47.4% 11.2%;
            --muted: 210 40% 96.1%;
            --muted-foreground: 215.4 16.3% 46.9%;
            --accent: 210 40% 96.1%;
            --accent-foreground: 222.2 47.4% 11.2%;
            --destructive: 0 84.2% 60.2%;
            --destructive-foreground: 210 40% 98%;
            --border: 214.3 31.8% 91.4%;
            --input: 214.3 31.8% 91.4%;
            --ring: 221.2 83.2% 53.3%;
            --radius: 0.5rem;
        }

        .dark {
            --background: 209, 36%, 13%;
            --foreground: 210 40% 98%;
            --card: 222.2 84% 4.9%;
            --card-foreground: 210 40% 98%;
            --popover: 222.2 84% 4.9%;
            --popover-foreground: 210 40% 98%;
            --primary: 203, 88%, 53%;
            --primary-foreground: 222.2 47.4% 11.2%;
            --secondary: 142, 46%, 55%;
            --secondary-foreground: 210 40% 98%;
            --muted: 217.2 32.6% 17.5%;
            --muted-foreground: 215 20.2% 65.1%;
            --accent: 217.2 32.6% 17.5%;
            --accent-foreground: 210 40% 98%;
            --destructive: 0 62.8% 30.6%;
            --destructive-foreground: 210 40% 98%;
            --border: 217.2 32.6% 17.5%;
            --input: 217.2 32.6% 17.5%;
            --ring: 224.3 76.3% 48%;
        }
    }

    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
  background-color: #ffffff;
  font-size: 18px;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  font-family: "Open Sans", sans-serif;

  --red: #bd0000;
  --light-blue: #3382fe;
  --medium-blue: #0047b7;
  --dark-blue: #012d5a;
  --white: #f5f5f5;
  --gray: #d9d9d9;

}

@layer components {
    .bg-custom-white {

    }
    .nav-drop-down-link {
        @apply text-left
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
label {
    display: block;
}


/* ============== HOMEPAGE =========== */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(30, end);
}


/* =========== LOGIN PAGE ========== */
.loginForm input {
  padding: 20px;
}
.selectionPage{
    align-items: center;
}

.PatientLoginHeader {
  font-family: "Open Sans", sans-serif;
  font-size: 80px;
}

.thick-border {
  border-width: 2px;
}

/* ============= USER SELECTION PAGE ========= */
.LargeButton {
    width: 50%;
    height: 80px;
    border-radius: 40px;
    background-color: #00336e;
    box-shadow: #000000;

    color: #fff;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.LargeButton:hover {
  background-color: #297fb8;
}

#root {
    position: relative;
}




.LoginButtonAdmin,
.LoginButtonPatient,
.LoginButtonGuest{
    position: absolute;
    height: 80px;
    color: #fff;
    font-family: sans-serif;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.LoginButtonAdmin {
    top: 0;
    right: 20px;
}

.LoginButtonPatient {
    top: 30px;
    right: 20px;
}
.LoginButtonGuest{
    top: 85px;
    right: 20px;
}

.LoginButtonAdmin:hover,
.LoginButtonPatient:hover{
    color: #d9f99d;
}

.stack {
  font-size: 60px;
  font-family: sans-serif;
  align-items: center;
}

.hospitalImage {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

/* ============= MAP ========= */
.testClass {
  display: flex;
  align-items: center;
}
.testClass img {
  position: absolute;
  border-radius: 7px;
  width: 41px;
  background-color: var(--gray);
}
.testClass input {
  padding-left: 50px;
  background-color: var(--white);
}

.testClass2 {
  display: flex;
  justify-content: space-between;
}
.testClass2 a {
  color: var(--red);
}
.btn {
  background-color: var(--medium-blue) !important;
}
.svgOfL1 {
    border-radius: 1.25rem;
    flex-shrink: 0;
    margin: auto;
    justify-content: center;
}
.pictureOfL1 {
  border-radius: 1.25rem;
  width: 50rem;
  height: 30rem;
  flex-shrink: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BackButton {
    position: absolute;
    top: 150px; /* Adjust this value to move the button down */
    right: 25px; /* Adjust this value as needed */
    border-radius: 10px; /* Remove background color */
    border: 3px solid #003a96;
    padding: 10px;
    scale: 0.75;
}

/* ============= DRAG AND DROP ========= */
.DragDropBox, .DragDropBoxOn {
    position: relative;
    width: 50%;
    border: 2px dashed var(--dark-blue);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    transition: 0.3s ease-in-out;
}
.DragDropBoxOn, .DragDropBox:hover {
    border-color: var(--light-blue)!important;
    color: var(--light-blue);
}
body.dark .DragDropBox {
    border-color: white;
}
.DragDropBox img {
    filter: grayscale(100%);
    transition: 0.3s ease-in-out;
}
.DragDropBoxOn img, .DragDropBox:hover img {
    filter: grayscale(0%);
    transition: 0.3s ease-in-out;
}


.file-drop-box.dragging {
    border: 2px dashed #2ecc71;
}

.content {
    color: #3498db;
}

.content div {
    margin-top: 10px;
}

.CsvDataText {
    font-family: sans-serif;
    text-align: center;

    align-items: center;
    width: 50%;
    border-radius: 8px;
    border: 2px dashed var(--dark-blue);
    background: white;
}
.navbarStyling{
    text-align: center;
    justify-items: center;
    justify-content: center;
    font-size: small;
}

/* ====== BFS ======= */

.map-container {
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.dropdown-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 20px;
}

.route-container {
    flex: 1;
}

.route-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.route {
    margin-bottom: 5px;
}

.BFSBox {
    align-items: center;
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

.mapNames {
    transform: rotate(-1deg);
}

.idinput {
    max-width: 550px;
    margin: auto;
    padding: 10px;
    background-color: white;
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
}


/* ====== Flower Service Page ======= */

.flowerService {
    text-align: center;
    background-color: var(--dark-blue);
    border-radius: 15px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
.flowerService select {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.flowerService select:focus {
    outline: none;
    border-color: #4ba1ff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

select,
input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.populateEmployeeButton {
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Inline block display */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s; /* Transition */
    cursor: pointer; /* Cursor pointer */
    border-radius: 8px; /* Rounded corners */
    border: 2px solid transparent; /* Border */
    outline: none; /* No outline */
}

input[type="submit"] {
    background-color: #001c3d;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    max-width: 150px;
    border-radius: 40px;
    align-self: center;
    transition: background-color;
    transition-duration: 200ms;
}

input[type="submit"]:hover {
    background-color: #4ba1ff;
}

h1 {
    margin-top: 5%!important;
    font-size: 60px!important;
    font-weight: 700!important;
    font-family: "Segoe UI", Roboto;
    text-transform: uppercase;
    font-style: italic;
}

/* ========== CSV Table ========== */

input:checked + .slider {
    background-color: black;
}

input:focus + .slider {
    box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.sidebar {
    transition: transform 0.3s ease;
}
.sidebar-expanded {
    transform: translateX(0);
}
.sidebar-collapsed {
    transform: translateX(-100%);
}

body.dark .react-transform-wrapper image {
    filter: invert(1) saturate(2);
}
